/*   General   */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4em;
}

h2 {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
    font-weight: bold;
    z-index: 1;
}

h3 {
    margin: 0 0 8px 0;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1.6em;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    margin: 8px 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.underline {
    position: absolute;
    height: 16px;
    bottom: 2px;
    left: -6px;
    background-color: #3a86ff;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

.title {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    position: relative;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*   Introduction   */

#introduction {
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    justify-content: flex-start;
    align-items: flex-start;
}

#introduction h1 {
    position: absolute;
    margin-left: 50%;
    left: -313px;
    margin-top: 50vh;
    top: -111px;
}

#introduction svg {
    width: 56px;
    height: 56px;
    position: absolute;
    left: -28px;
    margin-left: 50%;
    bottom: 56px;
}

#introduction svg:hover {
    cursor: pointer;
}

/*   About Me   */

#about {
    padding: 96px 0;
    flex-direction: row;
    max-width: 1100px;
}

#about > div {
    margin: 0 48px;
    flex: 1;
}

#about .textarea p {
    text-align: justify;
}
/*   Available   */

#available {
    background-color: #3a86ff;
    flex-direction: column;
    width: 100%;
    height: 172px;
    padding: 64px 0;
}

#available h3 {
    color: white;
}

.bigh {
    font-size: 3em;
    margin-bottom: 24px;
}

.button {
    height: 3em;
    width: 15em;
    border-radius: 1.5em;
    background-color: #75dddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-size: 1em;
    -webkit-box-shadow: 1px 1px 7px 1px rgba(117,221,221,0.55);
    -moz-box-shadow: 1px 1px 7px 1px rgba(117,221,221,0.55);
    box-shadow: 1px 1px 7px 1px rgba(117,221,221,0.55);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px 5px rgba(117,221,221,0.58);
    -moz-box-shadow: 0px 0px 7px 5px rgba(117,221,221,0.58);
    box-shadow: 0px 0px 7px 5px rgba(117,221,221,0.58);
}

/*   Skills   */

#skills {
    padding: 96px 0;
    flex-direction: column;
}

#skills .title {
    margin: 0;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    margin-bottom: 48px;
}

.header p {
    margin: 0 0 6px 16px;
}

svg {
    height: 100px;
    width: 100px;
}

.showcase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.technology {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
}

.technology h4 {
    margin: 8px 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}


/*   Portfolio   */

#portfolio {
    flex-direction: column;
    width: 100%;
}

#portfolio .showcase {
    max-width: 1330px;
    flex-wrap: wrap;
}

.portfolioentry {
    position: relative;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.portfolioentry:hover {
    cursor: pointer;
}

.portfolioentry h4 {
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    font-size: 6em;
    position: absolute;
    top: 95px;
    margin: 0;
    align-self: flex-start;
    padding-left: 15%;
}

#oprecox {
    width: 100%;
    background-color: #FFCA72;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.image {
    margin-right: 10%;
    height:300px;
    width: 600px;
}

#oprecox .image {
    background-image:url('assets/bannerOPrecoX.png')
}

#feupstudents {
    width: 100%;
    background-color: #DCD3CC;
}

#feupstudents .image {
    background-image:url('assets/bannerFeupStudents.png')
}

.portfoliounderline {
    height: 20px;
    background-color: white;
    position: absolute;
    top: 175px;
    margin-left: 15%;
    align-self: flex-start;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

#oprecox .portfoliounderline {
    width: 449px;
}

#feupstudents .portfoliounderline {
    width: 663px;
}

/*   footer   */

#footer {
    padding: 96px 0;
    background-color: black;
    width: 100%;
    flex-direction: column;
}

#footer .showcase {
    margin-top: 24px;
    margin-bottom: 18px;
}

#footer svg {
    width: 48px;
    height: 48px;
    margin: 0 24px;
}

#footer svg:hover {
    cursor: pointer;
}

#footer .title {
    color: white;
}

#footer h4 {
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
}

#footer a {
    color: white;
}